[options]
resize_grip = false
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
visible_bell = false
mouse_autohide = false
allow_bold = true
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Terminus 12
scrollback_lines = 1000
#icon_name = terminal

# 0.0: opaque, 1.0: transparent
transparency = 0.0

# SYSTEM, ON or OFF
cursor_blink = SYSTEM

# BLOCK, UNDERLINE or IBEAM
cursor_shape = BLOCK

# $BROWSER is used by default
#browser = /usr/bin/firefox

# vte-256color has the correct terminfo, but some applications (vim, weechat)
# still need patches for mouse/title support
term = screen-256color

[colors]
foreground = #ffffff
background = #000000
# cursor = #dcdccc

# color = normal;bold
black = #000000;#686773
red = #8a110e;#fc5166
green = #669f3d;#63ff54
yellow = #b3751e;#ffd75c
blue = #493d9f;#766eff
magenta = #9216a3;#e151ff
cyan = #198a9c;#57ffec
white = #bfbdc0;#ffffff
